.font14 {
    font-size: 14px;
}
.font18 {
    font-size: 18px;
}
.font24 {
    font-size: 24px;
}
.font48 {
    font-size: 48px;
}
.font36 {
    font-size: 36px;
}

.bold {
    font-weight: bold;
}

$family: "source-han-serif-sc", serif, Helvetica, "Helvetica Neue", "Segoe UI", "Hiragino Sans GB", "Source Han Sans CN", "Microsoft YaHei", "STHeiti", "WenQuanYi Micro Hei";