@import '../../style/font.scss';
.login-wrapper {
    .login-diveder {
        height: 100px;
        background-color: #555;
    }
    .right-section {
        .ant-form-item-required {
            font-family: $family;
            &::before {
                color: #555 !important;
            }
        }
        .ant-input, .ant-input-password {
            width: 200px;
            border-color: #555;
            outline: none;
            font-family: $family;
        }
        .ant-btn-default {
            background-color: #555;
            color: #fff;
            border-color: transparent;
            &:hover {
                background-color: #34495e; 
                border-color: transparent;
            }
        }
    }
}